* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#494d5f;
    background-color: hsl(230, 8%, 15%);
}
a {
    text-decoration: none;
    padding-: 35px;
}

.hero {
    width: 100%;
    background: hsl(230, 8%, 15%);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:relative;
    height: 100vh;
}
/* adds black background to nav-bar */
nav {
    display: flex;
    text-align: right;
    background-color: hsl(230, 8%, 15%);
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    text-align: right;
}

/* styles links inside navbar*/
.links {
    float: left;
    font-family: fantasy;
    color: #f2f2f2;
    text-align: center;
    font: 17px;
}

/* .intro {
    position: absolute;
    top: 35%;
    left: 8%
} */

.career_title {
    padding-left: 1230px;
    /* margin-right: 205px; */
    font-family: fantasy;
    font-size: 25px;
    display: inline-block;
    background: linear-gradient(100deg,#1c99fe 20.69%, #7644ff 70.19%,#fd4766 79.69% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    color: hotpink;
    font-size: 40px;
    font-weight: bold;
    line-height: 90px;
    text-transform: inherit;
    text-transform: uppercase;
    text-align: right;
    padding-right: 75px;
}

h1 span {
    text-align: right;
}

.btn {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 16px 40 px;
    border-radius: 200px;
    display: inline-block;
    background: hotpink;
    background-size: 150% 100%;
    border: 10px solid hotpink;
    transition: all .4s ease-in-out;
}

.item1 { 
    grid-area: header;
    padding-top: 35px;
}

.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { 
    grid-area: footer;
    background-color:hsl(230, 8%, 15%);
    padding-left: 125px;
    padding-bottom: 35px;
}


.grid-container {
  display: grid;
  grid-template:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color:hsl(230, 8%, 15%);
  padding: 10px;
  display: flex;
}

.grid-container div {
  /* padding: 10px 0; */
  font-size: 30px;

}

.box {
    margin-top: 20px;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}


.column {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex: 1
}

.container{
    display: flex;
}









/* ul li{
    display:inline-block;
    float: right;
    margin-left: 20px;
} */
a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 25px;
}

.front-position {
    background-color: whitesmoke;
    width: fit-content;
    font-size: 200%;
    font-weight: 600;
    position: absolute;
    bottom: 20 px;
    right: 40 px;
}



#headshot{
    width: 25%;
    height: 30%;
    padding: 35px 15px 35px 15px;
}

h3 {
    font-size: 25px;
    text-decoration: underline;
    /* /* text-align: left; */
    padding: 25px 25px 25px 75px; 
    color: whitesmoke
}

img {
    width: 280px;
    height: 157px;
}



p {
    color: #4c679F;
    font-size: 20px;
    text-align: justify;
    padding: 25px 75px 35px 75px;
}

#quote {
    text-align: center;
    font-style: italic;
    padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-rows: 100px 300px;
  }

  i {
    align: center;

    color: white;
  }

  .i:hover {
    background-color: #4CAF50;
    color: white;
  }

  #space {
    color: hsl(230, 8%, 15%);
  }

  br {
      padding: 0px;
  }

#contact {
    padding-left: 18px;
}
