* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#494d5f;
}

h1 {
    color: #482673;
    font-size: 40px;
    font-weight: bold;
}
body {
    background-color: #ffffff;
}

.container{
    display: flex;
}


.header {
    padding:20px;
    background: color #ddc5a7;
}

.header section {
    margin-right: 15px;
    float: right;
    font-family: fantasy;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li{
    display:inline-block;
    float: right;
    margin-left: 20px;
}
a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 25px;
}

/* /* Image credit, Callum Wale: https://unsplash.com/photos/3pH7TxHU6gw */
.hero {
    height: 550px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
    background-image: url(../images/abstract_metal.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center;
    z-index: 1;
}

#headshot{
    width: 25%;
    height: 30%;
    padding: 50px;
}

h3 {
    font-size: 35px;

}
.left-side-nav {
    margin-left: 30px;
    text-align: right;
    clear: both;
    float:left;
    width: 30%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c679F;
}

img {
    width: 280px;
    height: 157px;
}



p {
    color: #4c679F;
    font-size: 25px;
}

#quote {
    text-align: center;
    font-style: italic;
    padding: 5px;
}