* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#494d5f;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
}
a {
    text-decoration: none;
}

  /* Image credit, Callum Wale: https://unsplash.com/photos/3pH7TxHU6gw */
.hero {
    width: 100%;
    background: white;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:relative;
    height: 100vh;
    /* background-image: url(../images/abstract_metal.jpg); */

}
/* adds black background to nav-bar */
nav {
    display: flex;
    align-items: center;
    background-color: hsl(230, 8%, 15%);
    padding: 30px 100px;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

/* styles links inside navbar*/
.links {
    float: left;
    font-family: fantasy;
    color: #f2f2f2;
    text-align: center;
    font: 17px;
}

.intro {
    position: absolute;
    top: 35%;
    left: 8%
}

.career_title {
    margin-right: 15px;
    font-family: fantasy;
    font-size: 20px;
    display: inline-block;
    background: linear-gradient(100deg,#1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    color: #25252e;
    font-size: 40px;
    font-weight: bold;
    line-height: 90px;
    text-transform: inherit;
    text-transform: uppercase;
}

h1 span {
    color: #997ee2;
}

.btn {
    color: #997ee2;
    font-size: 12px;
    text-transform: uppercase;
    padding: 16px 40 px;
    border-radius: 200px;
    display: inline-block;
    background: hotpink;
    background-size: 150% 100%;
    border: 2px solid hotpink;
    transition: all .4s ease-in-out;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.box {
    margin-top: 20px;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}


.column {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex: 1
}

.container{
    display: flex;
}









/* ul li{
    display:inline-block;
    float: right;
    margin-left: 20px;
} */
a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 25px;
}



.front-position {
    background-color: whitesmoke;
    width: fit-content;
    font-size: 200%;
    font-weight: 600;
    position: absolute;
    bottom: 20 px;
    right: 40 px;
}



#headshot{
    width: 25%;
    height: 30%;
    padding: 50px;
}

h3 {
    font-size: 25px;
    text-decoration: underline;
}

.left-side-nav {
    margin-left: 30px;
    text-align: right;
    clear: both;
    float:left;
    width: 30%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c679F;
}

img {
    width: 280px;
    height: 157px;
}



p {
    color: #4c679F;
    font-size: 15px;
}

#quote {
    text-align: center;
    font-style: italic;
    padding: 5px;
}